.user-form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

.user-form h1 {
    margin-bottom: 0.5em;
}

.user-form .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-control input[type="submit"] {
    padding: 0.25em;
}
